<%- include("partials/header") -%>
     <h1>Home</h1>
     <p>
          <%=homeText %>
     </p>


     <% postList.forEach( (item)=>{ %>
          <h3>
               <%= item.userInputTitle %>
          </h3>

          <p>
               <%= item.userInputMessage.substring(0,100) +'...'%>
                    <a href="/post/<%= item.userInputTitle%> ">Read More</a>
          </p>

          <% }) %>


               <%- include("partials/footer") -%>